$break-phone: 414px;
$break-tablet: 768px;
$break-desktop: 1280px;
@mixin breakpoint($point) {
  @if $point == phone {
    @media (max-width: $break-phone) { @content; }
  }

  @if $point == tablet {
    @media (max-width: $break-tablet) { @content; }
  }

  @if $point == desktop {
    @media (max-width: $break-desktop) { @content; }
  }
}


.dark {
  --bg: #1a1f23;
  --bg-lighter: #21282d;
  --bg-darker: #101518;
  --text: #aeadad;
  --link: #0cc387;
}

body {
  background-color: var(--bg);
  color: var(--text);
  line-height: 1.5;
}

a {
  color: var(--link);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.i-octicon {
  line-height: 0;
  display: inline-block;
}

.show-on-mobile {
  display: none;
  @include breakpoint(phone) {
    display: block;
  }
}

@media all and (max-width: $break-phone) {
  .hide-on-mobile {
    display: none;
  }
}

#wrap {
  max-width: 600px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

#masthead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  @include breakpoint(phone) {
    padding-bottom: 1rem;
  }
  .logo {
    margin: 0;
    position: relative;
    svg {
      height: 25px;
    }
    a .brand {
      font-size: 12px;
      background: var(--link);
      padding: 2px 10px;
      border-radius: 50px;
      color: var(--bg);
      position: absolute;
      top: -10px;
      left: 100%;
      display: block;
    }
  }
  .button {
    text-decoration: none;
    border: 2px solid var(--link);
    border-radius: 4px;
    padding: 8px 20px;
    font-weight: 700;
    &:hover {
      color: #fff;
      background-color: var(--link);
    }
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .bookmark {
    margin-right: 30px;
    position: relative;
    .indicator {
      color: var(--text);
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
      * {
        margin-left: 4px;
      }
      .i-octicon {
        position: relative;
        top: 4px;
      }
      svg {
        fill: var(--link);
        width: 20px;
        height: 20px;
      }
      .counter {
        background-color: var(--text);
        color: var(--bg-darker);
        border-radius: 20px;
        font-size: .9rem;
        font-weight: 600;
        padding: 2px 6px;
      }
    }
    .dropdown-list-header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: var(--link);
      color: var(--bg-darker);
      padding: 10px 15px;
      z-index: 110;
      display: none;
      justify-content: space-between;
      align-items: center;
    }
    .dropdown-list {
      position: absolute;
      top: 50px;
      left: 50%;
      margin-left: -150px;
      width: 300px;
      max-height: 400px;
      overflow-y: auto;
      background-color: var(--bg-lighter);
      border-radius: 6px;
      border: 2px solid var(--text);
      z-index: 100;
      display: none;
      @include breakpoint(phone) {
        position: fixed;
        top: 44px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        padding-top: 10px;
        width: 100%;
        max-height: 100%;
        border: none;
      }
      .link {
        padding: 15px;
        margin: 0;
        border-bottom: 2px solid var(--text);
        border-radius: 0;
        @include breakpoint(phone) {
          border: none;
          padding-top: 10px;
          padding-bottom: 10px;
        }
        &:hover {
          background-color: var(--bg);
        }
        &:before {
          display: none;
        }
        &:last-child {
          border-bottom: none;
        }
        h1 {
          font-size: 1rem;
          line-height: 1.5rem;
        }
      }
      .no-item {
        display: block;
        padding: 35px;
        text-align: center;
        margin: 0;
      }
    }
    /* Show bookmark */
    &.show {
      .indicator {
        color: #fff;
      }
      svg {
        fill: #fff;
      }
      .dropdown-list {
        display: block;
      }
      @include breakpoint(phone) {
        .dropdown-list-header {
          display: flex;
        }
      }
    }
  }

}

#content {
  margin-bottom: 3rem;
}

/** Link item **/
.links {
  counter-reset: my-counter;
  margin-bottom: 3rem;
}

.link {
  display: block;
  text-decoration: none;
  position: relative;
  padding-left: 30px;
  border-radius: 4px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  &:before {
    content: counter(my-counter)".";
    counter-increment: my-counter;
    position: absolute;
    left: 0;
    top: 17px;
    font-style: italic;
  }
  &:nth-child(n+1):nth-child(-n+9):before {
    content: "0"counter(my-counter)".";
  }
  h1 {
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin: 0;
  }
  p {
    margin-top: 0;
  }
  .meta *,
  p {
    color: var(--text);
    font-size: .9rem;
  }
  .meta {
    .divider{
      margin: 0 10px;
    }
  }
  .save {
    position: relative;
    top: 4px;
    svg {
      fill: transparent;
      stroke: var(--text);
      width: 15px;
      height: 15px;
    }
    &:hover,
    &.added {
      svg {
        fill: var(--link);
        stroke: var(--link);
      }
    }
  }
}

/** Pagination **/
.pagination {
  padding: 0;
  list-style: none;
  display: flex;
  li {
    margin-right: 10px;
  }
  a {
    display: block;
    text-decoration: none;
    border: 2px solid var(--link);
    border-radius: 4px;
    padding: 5px 10px;
  }
  a:hover,
  li.active a {
    background-color: var(--link);
    color: #fff;
  }
}

/** Footer **/
#colophon {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: .8rem;
}


#languages-nav {
  margin-bottom: 2rem;
  a {
    margin-right: 20px;
    color: var(--text);
    text-transform: capitalize;
    &.active {
      color: var(--link);
      font-weight: 700;
      text-decoration: underline;
    }
  }
}
