{{ partial "header" .}}
<main id="content">
  <div class="links">
    {{ $paginator := .Paginate (where .Pages "Type" "links") }}
    {{ range $paginator.Pages }}
    <a href="{{ .Params.link }}" class="link" target="_blank">
      <h1>{{ .Title }}</h1>
      <div class="meta">
        {{ .Date.Format "02-01-2006" }} by {{ .Params.site | replaceRE "^https?://([^/]+).*" "$1" }}
      </div>
    </a>
    {{ end }}
  </div><!-- end .links -->
  {{ template "_internal/pagination.html" . }}
</main><!-- end #content -->
{{ partial "footer" .}}
