<div class="link" target="_blank" rel="nofollow noopener">
  <h1><a href="{{ .Params.link }}" target="_blank" rel="nofollow noopener">{{ .Title }}</a></h1>
  <div class="meta">
    <span>{{ .Date.Format "02-01-2006" }} by <a href="/site/{{ .Params.site }}" rel="nofollow noopener">{{ .Params.site | replaceRE "^www.([^/]+).*" "$1" }}</a></span>
    <span class="divider">&#8226;</span>
    <a
      href="#"
      class="js-b-additem i-octicon save"
      data-icon="star"
      data-link="{{ .Params.link }}"
      data-title={{ .Title }}
      data-date='{{ .Date.Format "02-01-2006" }}'
      data-site='{{ .Params.site | replaceRE "^www.([^/]+).*" "$1" }}'>
    </a>
  </div>
</div>
