.dark {
  --bg: #1a1f23;
  --bg-lighter: #21282d;
  --bg-darker: #101518;
  --text: #aeadad;
  --link: #0cc387; }

body {
  background-color: var(--bg);
  color: var(--text);
  line-height: 1.5; }

a {
  color: var(--link);
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.i-octicon {
  line-height: 0;
  display: inline-block; }

.show-on-mobile {
  display: none; }
  @media (max-width: 414px) {
    .show-on-mobile {
      display: block; } }

@media all and (max-width: 414px) {
  .hide-on-mobile {
    display: none; } }

#wrap {
  max-width: 600px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

#masthead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  @media (max-width: 414px) {
    #masthead {
      padding-bottom: 1rem; } }
  #masthead .logo {
    margin: 0;
    position: relative; }
    #masthead .logo svg {
      height: 25px; }
    #masthead .logo a .brand {
      font-size: 12px;
      background: var(--link);
      padding: 2px 10px;
      border-radius: 50px;
      color: var(--bg);
      position: absolute;
      top: -10px;
      left: 100%;
      display: block; }
  #masthead .button {
    text-decoration: none;
    border: 2px solid var(--link);
    border-radius: 4px;
    padding: 8px 20px;
    font-weight: 700; }
    #masthead .button:hover {
      color: #fff;
      background-color: var(--link); }
  #masthead .navigation {
    display: flex;
    align-items: center; }
  #masthead .bookmark {
    margin-right: 30px;
    position: relative;
    /* Show bookmark */ }
    #masthead .bookmark .indicator {
      color: var(--text);
      cursor: pointer; }
      #masthead .bookmark .indicator:hover {
        text-decoration: none; }
      #masthead .bookmark .indicator * {
        margin-left: 4px; }
      #masthead .bookmark .indicator .i-octicon {
        position: relative;
        top: 4px; }
      #masthead .bookmark .indicator svg {
        fill: var(--link);
        width: 20px;
        height: 20px; }
      #masthead .bookmark .indicator .counter {
        background-color: var(--text);
        color: var(--bg-darker);
        border-radius: 20px;
        font-size: .9rem;
        font-weight: 600;
        padding: 2px 6px; }
    #masthead .bookmark .dropdown-list-header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: var(--link);
      color: var(--bg-darker);
      padding: 10px 15px;
      z-index: 110;
      display: none;
      justify-content: space-between;
      align-items: center; }
    #masthead .bookmark .dropdown-list {
      position: absolute;
      top: 50px;
      left: 50%;
      margin-left: -150px;
      width: 300px;
      max-height: 400px;
      overflow-y: auto;
      background-color: var(--bg-lighter);
      border-radius: 6px;
      border: 2px solid var(--text);
      z-index: 100;
      display: none; }
      @media (max-width: 414px) {
        #masthead .bookmark .dropdown-list {
          position: fixed;
          top: 44px;
          left: 0;
          right: 0;
          bottom: 0;
          margin: 0;
          padding-top: 10px;
          width: 100%;
          max-height: 100%;
          border: none; } }
      #masthead .bookmark .dropdown-list .link {
        padding: 15px;
        margin: 0;
        border-bottom: 2px solid var(--text);
        border-radius: 0; }
        @media (max-width: 414px) {
          #masthead .bookmark .dropdown-list .link {
            border: none;
            padding-top: 10px;
            padding-bottom: 10px; } }
        #masthead .bookmark .dropdown-list .link:hover {
          background-color: var(--bg); }
        #masthead .bookmark .dropdown-list .link:before {
          display: none; }
        #masthead .bookmark .dropdown-list .link:last-child {
          border-bottom: none; }
        #masthead .bookmark .dropdown-list .link h1 {
          font-size: 1rem;
          line-height: 1.5rem; }
      #masthead .bookmark .dropdown-list .no-item {
        display: block;
        padding: 35px;
        text-align: center;
        margin: 0; }
    #masthead .bookmark.show .indicator {
      color: #fff; }
    #masthead .bookmark.show svg {
      fill: #fff; }
    #masthead .bookmark.show .dropdown-list {
      display: block; }
    @media (max-width: 414px) {
      #masthead .bookmark.show .dropdown-list-header {
        display: flex; } }

#content {
  margin-bottom: 3rem; }

/** Link item **/
.links {
  counter-reset: my-counter;
  margin-bottom: 3rem; }

.link {
  display: block;
  text-decoration: none;
  position: relative;
  padding-left: 30px;
  border-radius: 4px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative; }
  .link:before {
    content: counter(my-counter) ".";
    counter-increment: my-counter;
    position: absolute;
    left: 0;
    top: 17px;
    font-style: italic; }
  .link:nth-child(n+1):nth-child(-n+9):before {
    content: "0" counter(my-counter) "."; }
  .link h1 {
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin: 0; }
  .link p {
    margin-top: 0; }
  .link .meta *,
  .link p {
    color: var(--text);
    font-size: .9rem; }
  .link .meta .divider {
    margin: 0 10px; }
  .link .save {
    position: relative;
    top: 4px; }
    .link .save svg {
      fill: transparent;
      stroke: var(--text);
      width: 15px;
      height: 15px; }
    .link .save:hover svg, .link .save.added svg {
      fill: var(--link);
      stroke: var(--link); }

/** Pagination **/
.pagination {
  padding: 0;
  list-style: none;
  display: flex; }
  .pagination li {
    margin-right: 10px; }
  .pagination a {
    display: block;
    text-decoration: none;
    border: 2px solid var(--link);
    border-radius: 4px;
    padding: 5px 10px; }
  .pagination a:hover,
  .pagination li.active a {
    background-color: var(--link);
    color: #fff; }

/** Footer **/
#colophon {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: .8rem; }

